distribution_code_name: Squirrel
distribution_name: "鼠鬚管"
distribution_version: 0.16.2
install_time: "Wed Apr 12 20:35:38 2023"
installation_id: "someok-mac16"
sync_dir: "/Users/wjx/MyCloud/AppSettings/Rime"
rime_version: 1.8.5
